<!-- views/dashboard.ejs -->
<!doctype html>
<html>

<head>
	<title># data-collector-Competitivity</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="../stylesheets/style.css">

	<script src="../modules/competitivity/js/nav.js"></script>

</head>

<body onload="openTab('home')">

		<div class="container">

			<%- include('../../partials/navbar') %>

			<div class="modules">

				<div class="row">
					<h2 aling="left"> Competitividad</h2>
					<ul class="nav nav-tabs">
						<li><a href="javascript:void(0)" onclick="openTab('home')" >Descripción</a></li>
						<li><a href="javascript:void(0)" onclick="openTab('input')" >Cuestionario</a></li>
						<li><a href="javascript:void(0)" onclick="openTab('result')" >Resultados</a></li>
					</ul>
				</div>

				<div class="row">

					<%- include('description') %>
					<%- include('input') %>
					<%- include('result') %>

				</div>

			</div>

			<%- include('../../partials/footer') %>

	</div>
</body>

</html>
