<!-- views/dashboard.ejs -->
<!doctype html>
<html>

<head>
	<title># data-collector-Competitivity</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>

		<div class="container">

			<%- include('../../partials/navbar') %>

			<div class="modules">

				<%- include('./partials/navtab') %>

				<div class="row">

						<%if (tab === 'description') { %>
							<%- include('./content/description') %>
						<% } %>

						<%if (tab === 'create') { %>
							<%- include('./content/create') %>
						<% } %>

						<%if (tab === 'edit') { %>
							<%- include('./content/edit') %>
						<% } %>

						<%if (tab === 'results') { %>
							<%- include('./content/results') %>
						<% } %>

				</div>

			</div>

			<%- include('../../partials/footer') %>

	</div>
</body>

</html>
